.layout{
    
   margin: 20vh 5vw 0 5vw;

    

    display: flex;
   
  
    row-gap: 2rem;


   
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    border: 1px solid black;
    padding: 7rem;

}

.setbox-layout{
    display: flex;
     gap: 1rem;
     align-items: center;
    justify-content: center;
    margin: 0 2rem;
     flex-wrap: wrap;
}
.sets{
  background-color: rgba(0, 128, 0, 0.256);
    border: 1px solid green;
   
    display: flex;
    height: 2rem;
    width: 2rem;
    align-items: center;
    justify-content: center;
   
    border-radius: 50%;
   
}
img{
    height: 1.5rem;
}
.sets:hover{
    background: rgba(65, 65, 65, 0.234);
    transform: scale(1.1);
    box-shadow: 1px 1px 8px 0px;
    transform: rotate(360deg);
    transition: all;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

}

.color{
    background-color: rgba(128, 0, 0, 0.256);
    border: 1px solid rgb(128, 0, 0);
   
    display: flex;
    height: 2rem;
    width: 2rem;
    align-items: center;
    justify-content: center;
   
    border-radius: 50%;
}
.info{
    height: 5rem;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sets-info{
    width: 70%;
    display: flex;
   align-items: center;
   justify-content: space-between;
}
.reserved {
  background-color: rgba(128, 0, 0, 0.3); /* Red = reserved */
  border: 1px solid red;
}